@keyframes navtogglein {
    from {
        opacity:0;
        transform: translate(0,-2rem)
    }

    to {
        opacity:1;
        transform: translate(0,0);
    }
}

@keyframes jumpin {
    from{
        transform: scale(0.7) translateX(-3rem);
    }

    to {
        transform: scale(1) translateX(0);
    }
}
@keyframes navitemin {
    from {
        
    }

    to {
        opacity:1;
        transform: scale(1) translate(0,0) rotate(0deg);
    }
}

@keyframes jump {
    0% {
        transform: translate(0 ,0 )
    }
    50% {
        transform: translate(0 ,-0.3rem )
    }
    100% {
        transform: translate(0 ,0 )
    }
}

