.listing {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.listing li {
    display: block;
    list-style: none outside;
    flex:0 0 31%;
}

.listing a {
    display: block;
    background: #FFF;
    color: #333;
    border-radius:0.3rem;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(black , 0.2);
    padding: 1rem 1.5rem;
    transition:background 0.5s ease , color 0.5s ease-in ,box-shadow 0,3s ease-in;
}

.listing a:hover {
    background: #000;
    color: #FFF;
    box-shadow: 0 0 2rem 0.5rem rgba(black , 0.5);
}

.listing a span{
    display: block;
}

.listing a .title{
    font-weight: bold;
    font-size:1.2rem;
    padding-bottom:3rem;
}